version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - telegram_network

  web:
    build: ./web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./web:/app
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=${DEBUG}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    depends_on:
      - db
    networks:
      - telegram_network

  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    command: "http web:8000"
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    ports:
      - "4040:4040"
    networks:
      - telegram_network
    depends_on:
      - web

  bot:
    build: ./bot
    command: python main.py
    restart: always
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      NGROK_API_URL: http://ngrok:4040/api/tunnels
    depends_on:
      - ngrok
    networks:
      - telegram_network

networks:
  telegram_network:
    driver: bridge

volumes:
  postgres_data:
